---
layout: page
permalink: /categories/
title: "Categories"
---

<style>
    li {
        list-style-type: none;
    }
</style>
<div id="archives">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <li><a href="{{ category_name }}">{{ category_name }}</a></li>
    </div>

    {% endfor %}
</div>
<!-- <div id="archives">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>

        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}" href="/categories/{{category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        </article>
        {% endfor %}
    </div>
    <br>
    <hr>
    <br>

    {% endfor %}
</div> -->